page-express-service {

  .toolbar-title-md{
    font-size: 2.7rem !important;
    padding: 0 32px !important;
    // text-align: left !important;
  }

  .toolbar-title-ios{
    font-size: 2.1rem !important;
    font-weight: normal !important;
    // text-align: left !important;
  }
  ion-header{
      ion-navbar{
          ion-avatar{
            border-radius: 50% !important;
          }
          ion-title{
              font-family: 'Great Vibes';
              font-size: 2.4rem !important;
              // font-size: 23px !important;
          }
          ion-buttons{
              margin-right: 1em;
              color: map-get($colors, color-app) !important;
              ion-badge{
                background: #ff461d !important;
                color: map-get($colors, white) !important;
                left:13px !important;
                margin-top: -8px !important;
                border-radius: 40% !important;
                padding: 3px 6px !important;
                position: absolute;
                z-index: 100;
              }
          }
      }
  }

  #map{
    display: block;
    height: 80%;
    width: 100%;
  }
  .spress-service{
    text-align: center !important;
    // margin-left: 20px;
    margin: 0 auto !important;
    // display: block !important;
    /** CENTRAR OBJETO **/
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /** FIN CENTRAR OBJETO **/
    button{
      margin-top:30px !important;
      height: 50px !important;
      max-width: 60% !important;
    }
  }
}
