<ion-header no-shadow no-border>
  <ion-navbar color='white'>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu" color="color-app"></ion-icon>
    </button> -->
    <ion-title>Servicio Express</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable navPush="NotificationsPage" color="color-app">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="_notifications != 0">{{this._notifications}}</ion-badge>
      </button>
      <button ion-button icon-only tappable (click)="cartShoppingModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <span class='spress-service'>
    <button ion-button name='ppp' full color='color-app' (click)='requestService()'>Solicitar servicio</button>
  </span>
</ion-content>
