page-register {
  ion-content{
    text-align: center !important;
    background: antiquewhite;

    .info{
      display: block;
      margin-top: 20px !important;
      margin-bottom: 15px !important;
      font-size: 14px;
      color: #939693;
      // font-family: 'Great Vibes';
    }

    .condiciones{
      margin-bottom: -15px;
      color: #939693 !important;
      font-size: 12px !important;
      text-transform: capitalize !important;
    }
  }


}
