page-register {
  .container{
      margin-top: 0px !important;
       background: map-get($colors, color-app) !important;
      .logo-row-app {
            padding-top: 0px !important;
            margin-top: 0px !important;
            padding-bottom: 10px;
            // background: white !important;
            ion-col {
              text-align: center;
            //  background: white;
                  img{
                      margin-top: 20px;
                      background-image: url('../assets/images/symbol.png');
                      background-repeat: no-repeat;
                      -webkit-background-size: 85% 85%;           /* Safari 3.0 */
                      -moz-background-size: 85% 85%;           /* Gecko 1.9.2 (Firefox 3.6) */
                      -o-background-size: 85% 85%;           /* Opera 9.5 */
                      background-size: 85% 85%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
                      width: 80vw;
                      padding:70px;
                  }
          }
      }


      img.backimg{ // fondo
        position: fixed;
        top:-1px;
        right: 0px;
        // left:50;
        // background-image: url('../assets/images/register-barber.jpg') ;
        // background: map-get($colors, color-app);
        height: 101vh;
        -webkit-background-size: 100% 100%;           /* Safari 3.0 */
        -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
        -o-background-size: 100% 100%;           /* Opera 9.5 */
        background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
        width:101vw;
        opacity: 0.6;
        background-attachment: fixed;

        // -webkit-filter: blur(1px);
        // filter: blur(1px);
      }

      ion-item{
        //background: red !important;
        opacity: 0.9;
        border:none !important;
        // box-shadow: 0px 10px 1px black;
        // margin-top:5px;
        // border-radius: 75px 75px 75px 75px;
        // -moz-border-radius: 75px 75px 75px 75px;
        // -webkit-border-radius: 75px 75px 75px 75px;
        border: 0px solid #000000;
        margin-bottom: 5px;
        border-style: none !important;
        font-size: 12px !important;
      }

      ion-buttons{
          margin-top: 7px;
          button{
            // opacity: 0.9px !important;
            margin-top: 7px !important;
            height: 40px !important;
            font-size: 12px !important;
            // font-weight: bold;
          }
      }


      ion-label.cambia{
        margin-top: -30px;
        margin-bottom: -10px;
        font-size: 20px !important;
        font-family: cursive;
        font-weight: bold;
        color: #0b2133 !important;
        // text-shadow: 1px 1px 0px white;
        // opacity: 0.9;
      }

      ion-label{
        text-align: center !important;
        font-size: 10px;
        // color: white !important;
        // position: relative;
        // margin-top: -10px;
      }

  }

}
