<ion-header [elasticHeader]="myContent">
  <ion-navbar color="white">
    <button ion-button menuToggle color="color-app">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Style2Door</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="notificationModal()" color="color-app">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="cartShoppingModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <ion-content fullscreen #myContent>
  <!-- <ul>
    <li *ngFor="let todo of todos">
    <img [src]=todo.img_url />
    </li>
  </ul> -->

  <!-- <ion-list inset>
  <button ion-item *ngFor="let item of todos" (click)="itemSelected(item)">
    <img [src]={{todo.img_url}};  />

  </button>

</ion-list> -->
<!-- <ul>
  <li *ngFor="let entry of itemCheckedFromFirebase">
    {{entry.name}} - {{entry.checked}}
  </li>
</ul> -->
   <ion-list>
      <ion-list-header>
        Manicure y Pedicure
      </ion-list-header>
      <ion-slides slidesPerView=2 spaceBetween=10 speed=1000 >
        <ion-spinner name='circles' *ngIf="items == 0"></ion-spinner>
        <!-- <div *ngFor="let entry of itemCheckedFromFirebase"> -->
      <ion-slide *ngFor="let item of items ; let i = index">
        <button full clear ion-button  >
          <img [src]=item.img_url />
          <div class="space_price">
            <h2>{{item.nombre}}</h2>
            <!-- <p>$ {{item.precio}}</p> -->
            <!-- <p>
              {{itemCheckedFromFirebase[i].id}}
            </p> -->
          </div>
          <!-- <div>
            <ion-checkbox *ngIf="itemCheckedFromFirebase.length?.length " [checked]="false" value="item.nombre" (ionChange)="datachanged(item, $event.checked)"></ion-checkbox>
          </div> -->
          <!-- <div class="div_check" *ngIf="itemCheckedFromFirebase?.length > 0"> -->
            <!-- <div class="div_check" *ngIf="itemCheckedFromFirebase?.length > 0"> -->

              <!-- <div class="div_check" *ngIf="! entry">
                <ion-checkbox  [checked]="(item.nombre == entry.nombre ? 'true' : 'false')" value="item.nombre" (ionChange)="datachanged(item, $event.checked)"></ion-checkbox>
              </div> -->
              <!-- <div class="div_check" *ngIf="itemCheckedFromFirebase?.length > 0"> -->


              <div class="div_check" *ngIf="itemCheckedFromFirebase">
                <ion-checkbox  [checked]="(item.id == itemCheckedFromFirebase[i]?.id ? true : false)" (ionChange)="datachanged(item, $event.checked)"></ion-checkbox>
            </div>
          <!-- </div> -->

          <button class="info_btn" ion-button icon-only clear (click)="detalle('pruebaa')"> <ion-icon name="information-circle"></ion-icon></button>
        </button>
      </ion-slide>
    <!-- </div> -->
    </ion-slides>
  </ion-list>


  <!-- <ion-list>
      <ion-list-header>
        Manicure y Pedicure
      </ion-list-header>
      <ion-slides slidesPerView=2 spaceBetween=10   effect="slide" pager>
      <ion-slide *ngFor="let item of itemMP;">
        <button full clear ion-button  >
          <img src="assets/images/manicure/{{ item.title | changespace }}2.jpg"/>
          <div class="space_price">
            <h2>{{item.title}}</h2>
            <p>$ {{item.value}}</p>
          </div>
          <div class="div_check">
            <ion-checkbox [checked]="item.checked" value="item.title" (ionChange)="datachanged('item.title', $event.checked)"></ion-checkbox>
          </div>
          <button class="info_btn" ion-button icon-only clear (click)="detalle('pruebaa')"> <ion-icon name="information-circle"></ion-icon></button>
        </button>
      </ion-slide>
      <br />
    </ion-slides>
  </ion-list> -->

  <!-- <ion-list>
      <ion-list-header>
        Manicure y Pedicure
      </ion-list-header>
      <ion-slides slidesPerView=2 spaceBetween=10   effect="slide" pager>
      <ion-slide *ngFor="let item of itemMP;">
        <button full clear ion-button  >

          <button class="info_btn" ion-button icon-only clear (click)="detalle('pruebaa')"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></button>
          <img src="assets/images/manicure/{{ item.title | changespace }}.jpg"/>
          <div class="space_price">
            <h2>{{item.title}}</h2>
            <p>$ {{item.value}}</p>
          </div>
          <div class="div_check">
            <ion-checkbox [checked]="item.checked" value="item.title" (ionChange)="datachanged('item.title', $event.checked)"></ion-checkbox>
          </div>
        </button>
      </ion-slide>
      <ion-slide class='slide-right'></ion-slide>
    </ion-slides>
  </ion-list> -->
</ion-content>
