<ion-header [elasticHeader]="myContent">
  <ion-navbar color="white">
    <button ion-button menuToggle color="color-app">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Style2Door</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable navPush="NotificationsPage" color="color-app">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="_notifications != 0">{{this._notifications}}</ion-badge>
      </button>
      <button ion-button icon-only tappable (click)="cartShoppingModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding fullscreen #myContent>
  <ion-list no-lines>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/corte.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Corte</h2>
        <h6>$30.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='favorive-def' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/blower.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Blower</h2>
        <h6 >$35.500</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/crespos.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Crespos</h2>
        <h6 >$50.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/maquillaje.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Maquillaje</h2>
        <h6 >$50.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/recogido.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Recogido</h2>
        <h6 >$90.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/color.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Color</h2>
        <h6 >$130.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/taninoplastia.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Taninoplastia</h2>
        <h6 >$300.000 - $500.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/arreglo_de_novias.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Arreglo de novias</h2>
        <h6 >$350.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/arreglo_de_novias.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Quinceaneras</h2>
        <h6 >$350.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/manicure.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Manicure</h2>
        <h6 >$25.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/spa_manos_mujer.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Spa de manos</h2>
        <h4>(con manicure)</h4>
        <h6 >$55.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/pedicure.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Pedicure</h2>
        <h6 >$30.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
    <button full ion-button (click)="goToPage('PeinadosPage')"><img src="assets/images/services/woman/spa_pies_mujer.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Spa de Pies</h2>
        <h6 >$50.000</h6>
        <h5>- Detalle</h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button >Agregar servicio</button>
      </div>
    </button>
  </ion-list>
</ion-content>
