<ion-header no-shadow>
  <ion-navbar color="white">
    <button ion-button menuToggle color="color-app">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mujeres</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="notificationModal()" color="color-app">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
      <!-- <button ion-button icon-only (click)="openModal()" color="color-app">
        <ion-icon name="more"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <ion-content>
  <ion-list>
      <ion-list-header>
        Manicure y Pedicure
      </ion-list-header>
      <ion-slides slidesPerView=3 spaceBetween=10   effect="slide" pager>
      <!-- <ion-slide *ngFor="let item of itemMP ;"> -->
      <!-- Voy a poner algo aqui -->
      <ion-slide *ngFor="let item of itemMP; let i = index">
        <button full clear ion-button  >
          <!-- <ion-checkbox item-right [(ngModel)]="item.title" (ngModelChange)="textChanged($event)"></ion-checkbox> -->
          <img src="assets/images/manicure/{{ item.title | changespace }}.jpg"/>
          <div class="space_price">
            <h2>{{item.title}}</h2>
            <p>$ {{item.value}}</p>
          </div>
          <div class="div_check">
            <ion-checkbox [checked]="item.checked"  value="item.title" (ionChange)="datachanged(item.id, item.title, item.value, $event.checked)"></ion-checkbox>
          </div>
          <button class="info_btn" ion-button icon-only clear (click)="detalle('pruebaa')"> <ion-icon name="information-circle"></ion-icon></button>
        </button>
      </ion-slide>
      <ion-slide class='slide-right'></ion-slide>
    </ion-slides>
  </ion-list>


  <ion-list>
      <ion-list-header>
        Manicure y Pedicure
      </ion-list-header>
      <ion-slides slidesPerView=2 spaceBetween=10   effect="slide" pager>
      <!-- <ion-slide *ngFor="let item of itemMP ;"> -->
      <!-- Voy a poner algo aqui -->
      <ion-slide *ngFor="let item of itemMP;">
        <button full clear ion-button  >
          <!-- <ion-checkbox item-right [(ngModel)]="item.title" (ngModelChange)="textChanged($event)"></ion-checkbox> -->
          <img src="assets/images/manicure/{{ item.title | changespace }}2.jpg"/>
          <div class="space_price">
            <h2>{{item.title}}</h2>
            <p>$ {{item.value}}</p>
          </div>
          <div class="div_check">
            <ion-checkbox [checked]="item.checked" value="item.title" (ionChange)="datachanged('item.title', $event.checked)"></ion-checkbox>
          </div>
          <button class="info_btn" ion-button icon-only clear (click)="detalle('pruebaa')"> <ion-icon name="information-circle"></ion-icon></button>
        </button>
      </ion-slide>
      <br />
      <!-- <ion-slide class='slide-right'></ion-slide> -->
    </ion-slides>
  </ion-list>

  <ion-list>
      <ion-list-header>
        Manicure y Pedicure
      </ion-list-header>
      <ion-slides slidesPerView=2 spaceBetween=10   effect="slide" pager>
      <!-- <ion-slide *ngFor="let item of itemMP ;"> -->
      <!-- Voy a poner algo aqui -->
      <ion-slide *ngFor="let item of itemMP;">
        <button full clear ion-button  >
          <!-- <ion-checkbox item-right [(ngModel)]="item.title" (ngModelChange)="textChanged($event)"></ion-checkbox> -->
          <button class="info_btn" ion-button icon-only clear (click)="detalle('pruebaa')"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></button>
          <img src="assets/images/manicure/{{ item.title | changespace }}.jpg"/>
          <div class="space_price">
            <h2>{{item.title}}</h2>
            <p>$ {{item.value}}</p>
          </div>
          <div class="div_check">
            <ion-checkbox [checked]="item.checked" value="item.title" (ionChange)="datachanged('item.title', $event.checked)"></ion-checkbox>
          </div>
        </button>
      </ion-slide>
      <ion-slide class='slide-right'></ion-slide>
    </ion-slides>
  </ion-list>
</ion-content>
