page-forgot-password {
  ion-content{
    text-align: center !important;
    img{
      height: 250px;
    }
    .log{
      margin-top: 20px;
      height: 43px !important;
      left: 0px  !important;
    }
    h6{
      color: #444240;
      font-weight: 400 !important;
    }

    .cancelar{
      margin-top: -10px !important;
      text-transform: capitalize;
    }
  }
}
