page-preferidos {
  ion-content{
    margin-top: 50px;
    background: #ece8e8 !important;
    text-align: center !important;
    h3, i{
      color:  #6c6c66;
    }

    h4{
      .signo{
        color: map-get($colors, color-app) !important;
        display: inline;
        max-width: 20px;
        font-size: 30px;
        position: relative;
        top: 6px;
        font-weight: bolder;
      }
    }
  }
}
