<!-- <ion-header [elasticHeader]="myContent" no-border> -->
<ion-header no-border>

  <ion-navbar color="white">
<ion-buttons left>
    <button ion-button icon-only navPop color='color-app' clear>
      <!-- <span ion-text color="blanco" showWhen="ios,android, windows">Cancelar</span> -->
      <ion-icon name='md-arrow-round-back'></ion-icon>
    </button>
</ion-buttons>
    <ion-title>Style2Door</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable navPush="NotificationsPage" color="color-app">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="_notifications != 0">{{this._notifications}}</ion-badge>
      </button>
      <button ion-button icon-only tappable (click)="cartShoppingModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-content fullscreen #myContent padding> -->

<ion-content>
<div>
  <ion-segment [(ngModel)]="checkout">
    <ion-segment-button value="currentOrder">
      Orden Actual
    </ion-segment-button>
    <ion-segment-button value="history">
      Historial
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="checkout">
  <ion-list *ngSwitchCase="'currentOrder'">
    <ion-card *ngFor="let itemCart of article; let i = index">
      <ion-card-content>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/images/avatares/avatar2.jpg">
          </ion-thumbnail>
          <h2>{{itemCart.nombre}}</h2>
          <p class="price_color">${{itemCart.precio}}</p>
          <div class="personCount">
            <button class="lessPeople" ion-button icon-only clear (tap)="removePeople(itemCart,i)"><ion-icon name="md-remove"></ion-icon></button>
            <p>{{itemCart.cantidad}} Persona<span *ngIf="itemCart.cantidad > 1">s</span></p>
            <!-- <span class="peopleNumber">{{itemCart.cantidad}}</span> -->
            <button class="morePeople" ion-button icon-only clear (tap)="addPeople(itemCart,i)"><ion-icon name="md-add"></ion-icon></button>
        </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>


<!--  HISTORY OF ORDERS-->
  <ion-list *ngSwitchCase="'history'">
      <ion-item-group>
        <ion-item-divider>Sabado 25 de noviembre </ion-item-divider>
        <ion-item>Spa de luna</ion-item>
        <ion-item>Maquillaje general</ion-item>
      </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Miercoles 15 de noviembre </ion-item-divider>
      <ion-item>Manicure semipermante</ion-item>
      <ion-item>Pedicure permantente</ion-item>
    </ion-item-group>
  </ion-list>
</div>
</ion-content>



<!--  ########################################  -->
<ion-footer>
  <ion-toolbar>
    <span class='total'>Total: </span><span class="total_price">${{total}}</span><br />
    <span class='domicilio'>Domicilio: </span><span class="total_price">$10.000</span>
    <button ion-button (click)="checkout()" round icon-end color='color-app'>Ir al resumen</button>
  </ion-toolbar>
</ion-footer>
