page-detail-service {
  // span > stle-box{
  //   margin:10px !important;
  //   padding:5px !important;
  // }

  .titulo{
    color: rgb(167, 11, 105);
    text-align: center !important;
    font-size: 16px;
  }
  .detalle{
    font-size: 11px;
    font-family: arial;
    text-align: justify;
  }



}
