// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//bd3c95
// Use the primary color as the background for the toolbar-md-background
// $toolbar-md-background:                   map-get($colors, primary);

// Use the default background for the tabbar since it inherits from toolbar
// $tabbar-md-background:                    #f8f8f8;
//
// // Change the color of the tabs text
// $tab-button-md-active-color:              #bd3c95 !important; //color-app
// $tab-button-md-inactive-color:            #8c8c8c;
//
// // Change the color of the segment button text
// $toolbar-md-active-color:                 #fff;
// $toolbar-md-inactive-color:               #fff;
// $segment-button-md-text-color-activated:  #fff;
//

//#ba4897 mas bajo
//#9a056d mas oscuro
$colors: (
  primary:           #488aff,
  secondary:         #32db64,
  danger:            #f53d3d,
  light:             #6a6666,
  dark:              #222,
  color-app:         #bd3c95,
  color-app-oscuro:  #9a1471,
  white:             #ffffff,
  facebook-color:    #3b5998,
  googleplus-color:  #d34836,
  twitter-color:     #00aced,
  whatsapp-color:    #25d366,
  grays-s:           #dedede,
  black-o:           #000
);

// color en los iconos del tab
$tabs-md-tab-icon-color-active: color($colors, color-app);
$tabs-ios-tab-icon-color-active: color($colors, color-app);

$toolbar-ios-title-text-color: color($colors, color-app);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

// @import "ionic.ionicons";
@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// CUSTOM FONTS
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  src: url('../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  src: url('../assets/fonts/News_Cycle/NewsCycle-Regular.ttf');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  src: url('../assets/fonts/Oxygen/Oxygen-Light.ttf');
}


@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  src: url('../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../assets/fonts/Noto_Serif/NotoSerif-Regular.ttf');
}



$font-family-base: 'Open Sans';



/*********    CUSTOM ICONS    *********/
@import "../assets/scss/font-awesome/font-awesome";

@font-face {
    font-family: 'FontAwesome';
    src: url('../assets/fonts/font-awesome/fontawesome-webfont.eot');
    src: url('../assets/fonts/font-awesome/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../assets/fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'),
    url('../assets/fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
    url('../assets/fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'),
    url('../assets/fonts/font-awesome/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********   FIN CUSTOM ICONS   *********/
