<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle color="color-app">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programar servicios</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable navPush="NotificationsPage" color="color-app">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="_notifications != 0">{{this._notifications}}</ion-badge>
      </button>
      <button ion-button icon-only tappable (click)="cartShoppingModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding darkergraytoolbar class="toolbarPlan">

	<!--<ion   #dateTime [(ngModel)]="hiddenDate" [hidden]="true"></ion>-->
	<button class='schedservice' ion-button clear color='light' (click)="presentProfileModal('Man')">Servicios Hombre</button> <button ion-button clear color='color-app' class='schedservice' (click)="presentProfileModal('Woman')">Servicios mujeres</button>
	<span ion-datepicker
	 [(value)]="initDate"
	 cancelText='Cancelar'
	 [disabledDates]="disabledDates"
	 localeString= 'monday'
	 clear
	 class="ScheduleDate">
		<span><button ion-button icon-only clear ><ion-icon color='light' name="calendar" item-left ></ion-icon></button></span>
	</span>

<span><button ion-button name='ppp' icon-only clear (click)='ppp()'><ion-icon color='light' name="time" item-right ></ion-icon></button></span>
<hr />

<!-- {{initDate | date}} | {{time}} -->


</ion-content>
