<ion-header [elasticHeader]="myContent">
  <ion-navbar color="white">
    <button ion-button menuToggle color="color-app">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Style2Door</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable navPush="NotificationsPage" color="color-app">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="_notifications != 0">{{this._notifications}}</ion-badge>
      </button>
      <button ion-button icon-only tappable (click)="cartShoppingModal()" color="color-app">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="count != 0">{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding fullscreen #myContent>
  <ion-list no-lines>
    <button full ion-button ><img src="assets/images/services/man/barba_de_lujo.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Barba de lujo</h2>
        <h6 >$55.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/barba_a_vapor.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Barba con vapor</h2>
        <h6 >$35.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/retoque_barba_con_patillera.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Retoque de barba</h2>
        <h6 >$20.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/barba_a_color.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Barba color</h2>
        <h6>$20.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='favorive-def' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/afeitado.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Afeitado</h2>
        <h6 >$35.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/corte.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Corte sin lavado</h2>
        <h6 >$30.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/color_sin_lavado.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Color sin lavado</h2>
        <h6 >$60.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/masaje_capilar.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Masaje capilar</h2>
        <h6 >$30.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/manicure.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Manicure</h2>
        <h6 >$25.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/spa_manos.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Spa de manos</h2>
        <h6 >$25.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/pedicure.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Pedicure</h2>
        <h6 >$30.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
    <button full ion-button ><img src="assets/images/services/man/spa_pies.jpg"/>
      <div class="detail_price" text-wrap>
        <h2>Spa de Pies</h2>
        <h6 >$73.000</h6>
        <h5><button clear ion-button icon-only (click)="detailInfoPopover($event,item)">- detalle </button></h5>
        <span class="favorites"><ion-icon color='googleplus-color' name="heart"></ion-icon></span>
        <button class="add_cart" ion-button (click)='addService()'>Agregar servicio</button>
      </div>
    </button>
  </ion-list>
</ion-content>
